@import "tailwindcss";

@keyframes slide-right-and-fade {
  from {
    opacity: 0;
    transform: translateX(-800px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-260px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --animate-slide-down-and-fade: slide-down-and-fade 1.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-slide-right-and-fade: slide-right-and-fade 1.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}


.animate-slide-down {
  animation: var(--animate-slide-down-and-fade);
}

.animate-slide-right {
  animation: var(--animate-slide-right-and-fade);
}

button {
  cursor: pointer;
}

/* Estilização base para scrollbars */
::-webkit-scrollbar {
  width: 8px;
  /* largura da barra vertical */
  height: 8px;
  /* altura da barra horizontal */
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* Parte que se move */
::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  /* cinza médio */
  border-radius: 8px;
}

/* Quando o usuário passa o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
  /* cinza mais escuro */
}