@import "tailwindcss";

@keyframes slide-right-and-fade {
  from {
    opacity: 0;
    transform: translateX(-800px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-260px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --animate-slide-down-and-fade: slide-down-and-fade 1.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-slide-right-and-fade: slide-right-and-fade 1.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}


.animate-slide-down {
  animation: var(--animate-slide-down-and-fade);
}

.animate-slide-right {
  animation: var(--animate-slide-right-and-fade);
}